
<div class="text-center">
    <h1 class="display-4"> Добро пожаловать на Quiz </h1>
    <button onclick="window.location.href = 'https://localhost:44305/Home/Index2';">Запустить игру</button>


</div>
