

<div class="text-center">
    <h1 class="display-4"> Добро пожаловать на Quiz </h1>


    <button onclick="window.location.href = 'Index2.cshtml';">Запустить игру</button>

    <button>Ответ 1</button>
    <button>Ответ 2</button>
    <button>Ответ 3</button>
    <button>Ответ 4</button>



</div>

