
<div class="text-center">
    <h1 class="display-4"> Добро пожаловать на Quiz </h1>

   

</div>
<p></p>
<p class="text-center"> Описаие вопроса</p>



<div class="text-center">
    <button>Ответ 1</button>
    <button>Ответ 2</button>
</div >
<p></p>
<div  class="text-center">   
    <button>Ответ 3</button>
    <button>Ответ 4</button>
</div>

<p></p>

<div class="text-center">
    <button>Следующий вопрос</button>
</div>